#root {
  font-family: sans-serif;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

form{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
      padding: 10px 16px;
  }
  button{
      background-color: #000;
      color: #fff;
      padding: 10px 16px;
  }

  .notice {
    font-size: 12px;
    border: 1px solid;
    padding: 10px;
    text-align: center;

    &.error{
      border-color: #ff2000;;
      color: #ff2000;
    }

    &.success{
      border-color: #198754;
      color: #198754;
    }
  }
}

.title{
  margin-bottom: 20px;
}

.subtitle{
  margin-bottom: 15px;
}
